body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* 테이블 헤더 스타일 변경 */
.react-bootstrap-table .table thead th {
  background-color: #4caf50;
  color: white;
}

/* 테이블 행 스타일 변경 */
.react-bootstrap-table .table tbody tr {
  background-color: #f2f2f2;
}

#search-bar-0 {
  background-color: black !important;
}
